.backgrounds{
    background-image: url('../../assets//04\ \(1\).jpg');
    
}
.box-container {
    display: flex;
    justify-content: space-around; /* Adjust to your preferred spacing */
    flex-wrap: wrap;
    max-width: 1400px; /* Adjust to your preferred maximum width */
  }
  
  .box {
    text-align: center;
    margin: 10px; /* Adjust the margin for spacing between boxes */
    flex: 1; /* Equal distribution of space among boxes */
    padding: 20px;
  }
  .boxicon {
    position: relative;
    width: 100px; /* Adjust the width to control the size of the hexagon */
    height: 108px; /* Adjust the height to control the size of the hexagon */
  
    background-color: rgb(32, 32, 32);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin: 0 auto; /* Center the hexagon horizontally */
  }
  
  .boxicon:hover {
    background-color: rgb(0, 0, 0);

  }
  
  .boxicon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (min-width:768px){
    .expand{
     padding-top: 250px;
    }
    .backgrounds{
      background-image: url('../../assets//04\ \(1\).jpg');
      min-height: 750px;
  }
  .txts{
    border: 2px solid #fff;
    padding: 80px 80px;
    border-radius: 15px;
    font-size: 25px;
  }
  .txts1{
    border: 2px solid #fff;
    padding: 80px 60px;
    border-radius: 15px;
    font-size: 25px;
  }
  .txts:hover{
    background-color: rgb(236, 234, 234);
    color: #000;
    font-weight: BOLD;
  }
  .boxicon{
    margin: -45px 55px 50px 89px;
    position: absolute;
  }
  .TEXT:hover .boxicon {
    background-color: red;
}

  .expand{
    padding-bottom: 150px;
  }
  }