.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  .header-logo {
    font-size: 24px;
  }
  
  .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  a {
    color: #000000;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .header-button button {
    background-color: #333;
    color: rgb(0, 0, 0);
    border: none;
  }
  